ion-title{
  padding-bottom: 80%;
  text-align: center;
  padding: 5px;
  font-family: 'Butterfly Kids', cursive;
  font-size: 20px;
  font-weight: 100;
}

.bg-img{
  opacity: 0.2;
  position: absolute;
  background-size: cover;
  height: 100%;
}
