<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jeux
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jeux</ion-title>
    </ion-toolbar>
  </ion-header>

<img class="bg-img" alt="brushingteeth" src="assets/images/teeth.jpg" />
  <ion-title>Prochainement...</ion-title>
</ion-content>
