<ion-tabs>
  <ion-header>
  </ion-header>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="hourglass-outline"></ion-icon>
      <ion-label>Timer</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Paramètres</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Jeux</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
