

<img class="bg-img" alt="brushingteeth" src="assets/images/teeth.jpg" />
<ion-card-content>


<ion-title>Entrez vos paramètres ici </ion-title>
<form [formGroup]="brushingInfo" (ngSubmit)="setBrunshingInfo()">
  <ion-item>
    <ion-label position="stacked">Entre ton nom ici</ion-label>
    <ion-input type="text" formControlName="name" placeholder="mon petit marco"></ion-input>
    <div *ngIf="nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)">
      <div *ngIf="nameControl?.errors" class="valid-text">Vous ne devez pas depassser 20 caractères</div>
    </div>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nombre total de zones à brosser</ion-label>
    <ion-input type="text" placeholder="15" formControlName="brushingArea"></ion-input>
    <div *ngIf="brushingAreaControl?.invalid && (brushingAreaControl?.dirty || brushingAreaControl?.touched)">
      <div *ngIf="brushingAreaControl?.errors" class="valid-text">veuillez entrer un nombre inférieur à 15.</div>
    </div>
</ion-item>
<ion-item>
  <ion-label position="stacked">Changement de zone </ion-label>
  <ion-input type="text" placeholder="16" formControlName="areaChange"></ion-input>
  <div *ngIf="areaChangeControl?.invalid && (areaChangeControl?.dirty || areaChangeControl?.touched)">
    <div *ngIf="areaChangeControl?.errors" class="valid-text">veuillez entrer un nombre supérieur superieur à 9</div>
  </div>
</ion-item>

<ion-item>
  <ion-label position="stacked">Temps d'attente entre zone</ion-label>
  <ion-input type="text" placeholder="6" formControlName="waitingTime">  </ion-input>
  <div *ngIf="waitingTimeControl?.invalid && (waitingTimeControl?.dirty || areaChangeControl?.touched)">
    <div *ngIf="waitingTimeControl?.errors" class="valid-text">veuillez entrer un nombre supérieur à zéro.</div>
  </div>
</ion-item>
  <ion-button expand="block" type="submit" [disabled]="!brushingInfo.valid">Submit</ion-button>
</form>
</ion-card-content>
