ion-title{
  text-align: center;
  padding: 5px;
  font-family: 'Butterfly Kids', cursive;
  font-size: 30px;
  font-weight: 700;
  color: black;
}

.bg-img{
  opacity: 0.2;
  position: absolute;
  background-size: cover;
  height: 100%;
}

.valid-text{
  color: red;
  font-family: 'Butterfly Kids', cursive;
}

ion-card-content{
  padding-top: 30%;
  position: relative;
}
