<ion-header>
<ion-toolbar>
  <ion-title class="tilte">
    Teeth Timer
  </ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <img class="bg-img" alt="brushingteeth" src="assets/images/teeth.jpg" />

  <ion-card-header>
    <ion-card-subtitle>
      Timer pour: <span class="name-font">{{name}}</span>
    </ion-card-subtitle>

    <ion-card-subtitle>
      Zone de brossages: <span class="name-font"> {{brushingArea}}/15</span>
    </ion-card-subtitle>


    <ion-card-subtitle>
      Temps de change:<span class="name-font">{{areaChange}}</span>
    </ion-card-subtitle>


    <ion-card-subtitle>
      Temps d'attente:<span class="name-font">{{waitingTime}}</span>
    </ion-card-subtitle>



  <ion-card-subtitle *ngIf="brushingArea===0" class="congrat-message">
    Bravo <span class="name-font">{{name}}</span> ton temps de brossage est maintenant terminé!
  </ion-card-subtitle>



  <ion-card-subtitle *ngIf="brushingArea===brushingArea-1" class="congrat-message">
    Bravo <span class="name-font">{{name}}</span> ton temps de brossage est maintenant terminé!
  </ion-card-subtitle>
  </ion-card-header>

  <ion-row class="ion-justify-center">

    <svg
id="progress-circle" width="40vh" height="40vh" viewBox="0 0 200 200">
<linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1" >
  <stop offset="0%" stop-color="#ddd6f3"></stop>
  <stop offset="100%" stop-color="#faaca8"></stop>
</linearGradient>
<circle cx="50%" cy="50%" [attr.r]="circleR" fill="none" stroke="#f3f3f3" stroke-width="12"/>

<circle cx="50%"
cy="50%"
[attr.r]="circleR"
 fill="none"
  stroke="url(#linearColors1)"
   stroke-width="12"
    stroke-linecap="round"
    [attr.stroke-dasharray]="circleDasharray"
     [attr.stroke-dashoffset]="percentageOffset(percent | async)"/>
    <text x="50%" y="55%" class="timer-text">{{hr}} : {{min}} : {{sec}} : {{ms}}</text>

</svg>
  </ion-row>

  <ion-row class="btn" >
<ion-button shape="round" color="primary" (click)="stop()"><ion-icon name="pause-circle-outline"></ion-icon></ion-button>
<ion-button shape="round"  color="primary" (click)="start()"><ion-icon name="play-outline"></ion-icon></ion-button>
<ion-button  shape="round" color="primary" (click)="reset()"><ion-icon name="refresh-circle-outline"></ion-icon></ion-button>
</ion-row>

</ion-content>



