.timer-text{
  transform: rotate(90deg);
  transform-origin: center;
  font-size: 20px;
  text-anchor:middle;
  font-weight:600;
  fill:#333;}

#progress-circle{
  margin-top: 50px;
  transform: rotate(-90deg);
  margin: auto;
  padding: auto;
  position: relative;
}

ion-card-header{
  text-align:justify;

}
.bg-img{
  opacity: 0.2;
  position: absolute;
  background-size: cover;
  height: 100%;
}
.name-font{
  font-weight : 700;
  font-size: 1.2em;
  padding: 2px;
  text-align: center;
  color: black;


}
.congrat-message{
  text-align: center;
  margin: 5px;
}

.btn{
  display: flex;
  justify-content: center;
}
.tilte{
  color:pink;
}

ion-card-subtitle{
  font-family: 'Butterfly Kids', cursive;
  font-size: 20px;
  font-weight: 100;

}
